<h1><%= pluralize(@projects.size, "Project") %></h1>

<%= link_to "Add New Project", new_project_path %>

<% @projects.each do |project| %>
	<article>
		<header>
			<%= image_for(project) %>
			<h2><%= link_to project.name, project_path(project) %></h2>
		</header>
		<p>
			<%= truncate(project.description, length: 150, separator: ' ') %>
		</p>
		<table>
			<tr>
				<th>Website:</th>
				<td><%= project.website %></td>
			</tr>
			<tr>
				<th>Targe Pledge Amount:</th>
				<td><%= number_to_currency(project.target_pledge_amount) %></td>
		</tr>
			<tr>
				<th>Plede Ends On:</th>
				<td><%= project.pledging_ends_on %></td>
			</tr>
		</table>
	</article>
<% end %>
